
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables"; 


$orange : #ffb03b;
$lightorange: #fff7eb;
$lightdark: #1e160d;
$box:#7877750d;
$booka:#f9f9f9;


    $colors : (
        "orange" : $orange ,
        "lightorange" : $lightorange ,
        "lightdark" : $lightdark ,
        "box": $box,
        "booka": $booka,
    );

    $theme-colors : map-merge($theme-colors, $colors);

    $spacer: 10px ;
    @for $i from 0 to 21 {
        $spacers: map-merge( $spacers , ( $i: $spacer * $i ));
    };

    $position-values: (
  0: 0,
  5:5%,
  10:10%,
  15:15%,
  20:20%,
  25:25%,
  30:30%,
  35:35%,
  40:40%,
  45:45%,
  50:50%,
  60:60%,
  70:70%,
  80:80%,
  90:90%,
  100:100%
);

$width: (
  property: width,
  class: w,
  values: (
    25: 25%,
    50: 50%,
    70:70%,
    75: 75%,
    80: 80%,
    90:90%,
    100: 100%,
    auto: auto
  )
)




