*{
    margin: 0;
    padding: 0;
    
}
@font-face {
    font-family: "hmizo" ;
        src: url("../../../../public/fonts/Satisfy/Satisfy-Regular.ttf") format("truetype") ; 
        font-weight: normal;
        font-style: normal;
}
@font-face {
            font-family: "poppins" ;
        src:    url("../../../../public/fonts/Poppins/Poppins-Light.ttf"),
                url("../../../../public/fonts/Poppins/Poppins-Light.woff"),
                url("../../../../public/fonts/Poppins/Poppins-Light.woff2");
}
@font-face {
    font-family: "roboto" ;
        src:    url("../../../../public/fonts/Roboto/static/Roboto-Light.ttf"),
                url("../../../../public/fonts/Roboto/static/Roboto-Light.woff"),
                url("../../../../public/fonts/Roboto/static/Roboto-Light.woff2");
}
header{
    .top-side{
        background-color: rgba(0, 0, 0, 0.384);
    }
    .bottom-side{
        background-color: rgba(0, 0, 0, 0.318);
    }
}
h1,h2,h3,h4,h6, .logo{
    font-family: "hmizo"  ;
    font-weight: bolder;
    // background-color: red;
    
}
p{
    font-family: "roboto" ;
}

.top-side{
    font-size: 14px;
}

nav{
    a{
        text-decoration: none;
        color: white;
        font-family: "poppins";
        font-size: 14px;
        
    }
    a{
    &:hover{
        color: $orange;
    }
    }
}

    @media (min-width:550px) and (max-width:890px) {
        nav{
        position: fixed;
        top: 40px;
        // left: 20px;

        width: 80%;
        height: 100%;
        background-color: rgb(238, 12, 12);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 8vw 3vw ; 
        overflow-y: auto;
        z-index: 9999;
        a{
            color: black;
        }
        }

}





