*{
    margin: 0;
    padding: 0;
    
}
@font-face {
    font-family: "hmizo" ;
        src: url("../../../../public/fonts/Satisfy/Satisfy-Regular.ttf") format("truetype") ; 
        font-weight: normal;
        font-style: normal;
}
@font-face {
            font-family: "poppins" ;
        src:    url("../../../../public/fonts/Poppins/Poppins-Light.ttf"),
                url("../../../../public/fonts/Poppins/Poppins-Light.woff"),
                url("../../../../public/fonts/Poppins/Poppins-Light.woff2");
}
@font-face {
    font-family: "roboto" ;
        src:    url("../../../../public/fonts/Roboto/static/Roboto-Light.ttf"),
                url("../../../../public/fonts/Roboto/static/Roboto-Light.woff"),
                url("../../../../public/fonts/Roboto/static/Roboto-Light.woff2");
}
header{
    .top-side{
        background-color: rgba(0, 0, 0, 0.384);
    }
    .bottom-side{
        background-color: rgba(0, 0, 0, 0.318);
    }
}
h1,h2,h3,h4,h6, .logo{
    font-family: "hmizo"  ;
    font-weight: bolder;
    // background-color: red;
    
}
p{
    font-family: "roboto" ;
}

.top-side{
    font-size: 14px;
}

nav{
    a{
        text-decoration: none;
        color: white;
        font-family: "poppins";
        font-size: 14px;
        
    }
    a{
    &:hover{
        color: $orange;
    }
    }
}

    @media (min-width:550px) and (max-width:890px) {
        header{
            .top-side{
            // background-color: red !important;
            justify-content: end !important;
            }
        }

        nav{
        position: fixed;
        top: 4vh;
        left: -100vw;
        width: 80%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 8vw 3vw ; 
        overflow-y: auto;
        z-index: 9999;
        a{
            color: black;
        }
        label{
            i{
                // background-color: red;
                width: 100px;
                color: black !important;
                font-size: 50px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        }
        #check:checked ~ nav {
            left: 8vw;
        }
}
@media (max-width:480px) {
        header{            
            .top-side{
            justify-content: end !important;
            padding: 0 !important;
            .info{
                display: none !important;
            }
            }
            .bottom-side{
                padding: 0 5vw 0 3vw !important;
            }
        }

        nav{
        position: fixed;
        top: 4vh;
        left: -100vw;
        width: 80%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 8vw 3vw ; 
        overflow-y: auto;
        z-index: 9999;
        a{
            color: black;
        }
        label{
            i{
                // background-color: red;
                width: 100px;
                color: black !important;
                font-size: 50px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        }
        #check:checked ~ nav {
            left: 10vw;
        }
    }




