// * hero section

.bg-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.3)), url(../../../../public/images/hero-carousel/hero-carousel-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.3)), url(../../../../public/images/hero-carousel/hero-carousel-2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.3)), url(../../../../public/images/hero-carousel/hero-carousel-3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hero-section{
    .type{
        width: 100%;
        font-size: small;
    }
    .button{
        display: flex;
        justify-content: center;
        gap: 1vw; 
        div{
            padding: 0.1vh 3vw 0.1vh 3vw ;
        }
    }
}
.controle{
    width: 5%;
    height: 50%;
    display: flex;
    align-items: end;
}
// ! secound section 
.secound-section{
    .left{
    height: fit-content;
    position: relative;
}
    img{
        width: 100%;
        height: auto;
        


    }
    .phot{
        position: absolute;
        top: 40%;
        left:45%;
        
    }
    .play-btn {
    width: 50px;
    height: 50px;
    background: $orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}
.play-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background:$orange;
    animation: pulse 1.5s infinite ease-out;
}
@keyframes pulse {
    0% {
    transform: scale(1);
    opacity: 0.7;
}
    100% {
    transform: scale(1.8);
    opacity: 0;
}
}
// .hidden{
//     // border: 6px solid;
//     display: none;
// }
// #play:checked ~ .hidden{
//     display: block;

// }
#play:checked ~ .play-btn{
    // background-color: green;
}

    .right{
        width: 100%;
        font-size: 0.9rem;
        h3{
            width: 100%;
        }
    }
}

// ! section three

