// * hero section

.bg-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.3)), url(../../../../public/images/hero-carousel/hero-carousel-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.3)), url(../../../../public/images/hero-carousel/hero-carousel-2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.3)), url(../../../../public/images/hero-carousel/hero-carousel-3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hero-section{
    .type{
        width: 100%;
        font-size: small;
    }
    .button{
        display: flex;
        justify-content: center;
        gap: 1vw; 
        div{
            padding: 0.1vh 3vw 0.1vh 3vw ;
        }
    }
}
.controle{
    width: 5%;
    height: 50%;
    display: flex;
    align-items: end;
}
// ! secound section 
.secound-section{
    .left{
    height: fit-content;
    position: relative;
}
    img{
        width: 100%;
        height: auto;
        


    }
    .phot{
        position: absolute;
        top: 40%;
        left:45%;
        
    }
    .play-btn {
    width: 50px;
    height: 50px;
    background: $orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    cursor: pointer;
    position: relative;
}
.play-btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background:$orange;
    animation: pulse 1.5s infinite ease-out;
}
@keyframes pulse {
    0% {
    transform: scale(1);
    opacity: 0.7;
}
    100% {
    transform: scale(1.8);
    opacity: 0;
}
}
// .hidden{
//     // border: 6px solid;
//     display: none;
// }
// #play:checked ~ .hidden{
//     display: block;

// }
#play:checked ~ .play-btn{
    // background-color: green;
}

    .right{
        width: 100%;
        font-size: 0.9rem;
        h3{
            width: 100%;
        }
    }
}

// ! section our restaurant
.our-restaurant{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    .box{
        background-color: #7877750d !important;
        width: fit-content;
        padding: 3vw 2vw;
        cursor: pointer;
        span{
            font-weight: 600;
            font-size: 25px;
            color: $orange;
        }
        // &:hover{
        //     color: white !important;
        // }
        &:hover{
            background-color: $orange !important;
            color: white !important;
        }
    }

}

// ! section menu full sass
.section-menu{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 2vw;
    padding: 2vw 10vw 2vw 10vw;
    .firt-p{
        background-color: $lightorange;
        color: $orange;
        border-radius: 50px;
        padding: 0.5vw 3vw 0.5vw 3vw;
        text-transform: uppercase;
    }
    h2{
        padding-bottom: 2vw;
        span{
            color: $orange;
        }
    }
    nav{
        display: flex;
        gap: 3vw;
        padding-bottom: 2vw;
        text-transform: capitalize;
        
        a{  
            font-family: "hmizo";
            cursor: pointer;
            color: black;
        &:hover{
        color: $orange;
            }
        }
        
    }
    .cart{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3vw;
        .boxx{
            display: flex;
            align-items: center;
            gap: 1vw;
            img{
                width: 15%;
                border-radius: 50%;
                background-color: #83858348;
                padding: 0.4vw;
            }
            .type{
                line-height: 20px;
                .child{
                    // background-color: red;
                    font-weight: bold;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    .top-p{
                        margin: 0;
                        font-family: "roboto" sans-serif !important;
                        cursor: pointer;
                        &:hover{
                            color: $orange;
                        }
                    }
                    p{
                        margin: 0;
                    }
                    span{
                        color: $orange;
                        font-size: 16px;
                        margin: 0 !important;
                        
                    }
                }
                .bottom-p{
                    color: rgba(128, 128, 128, 0.653);
                    font-size: 12px;
                }
            }
        }
    }




}

