// * hero section

.bg-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.3)), url(../../../../public/images/hero-carousel/hero-carousel-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.3)), url(../../../../public/images/hero-carousel/hero-carousel-2.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0,0,0,0.3)), url(../../../../public/images/hero-carousel/hero-carousel-3.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hero-section{
    .type{
        width: 100%;
        font-size: small;
    }
    .button{
        display: flex;
        justify-content: center;
        gap: 1vw; 
        div{
            padding: 0.1vh 3vw 0.1vh 3vw ;
        }
    }
}
.controle{
    width: 5%;
}
